body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 50;
    padding: 10px;
}

a{
    text-decoration: none;
}

.men-trouser{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content{
   width: 70%;
   margin: 0px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   cursor: pointer;
   transition: 0.4s;
}

.content :hover{
    box-shadow: 0 3px 6px black,
    0 3px 6px black;
    transform: translate(0px, -8px);
}

img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: blue;
    padding-top: 0 8px;
}

h6{
    font-size: 26px;
    text-align: center;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li{
    padding-top: 5px;
}

button{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: black;
}
.buy-2{
    background: black;
}
.buy-3{
    background: black;
}
.buy-4{
    background: black;
}
.buy-5{
    background: black;
}
.buy-6{
    background: black;
}

